<h1><%= @name.first.capitalize %> Chat Room</h1>
Welcome
<!--
<div id="content">
  <div id="header">
  </div>
  <div id="chat">
    <input type="text" id="name">
    <input type="text" id="message">
    <input type="button" id="btn_send" value="post">
    <ul id="timeline"></ul>
  </div>
</div>

<div id="chat-text">
</div>
-->

<div class="page-header">
  <h1>Chat</h1>
</div>
<div id="chat-text">
</div>

<form id="input-form" class="form-inline">
  <div class="form-group">
    <input id="input-handle-email" type="hidden" class="form-control" value= <%= current_user.email %> autofocus />
  </div>

  <div class="form-group">
    <input id="input-handle" type="hidden" class="form-control" value= <%= current_user.name %> autofocus />
  </div>

  <div class="form-group">
    <input id="input-text" type="text" class="form-control" placeholder="Enter chat text here!" autofocus />
  </div>
  <button id="submit-button" class="btn btn-primary" type="submit">Send</button>
</form>
<script type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript", src="assets/js/application.js"></script>

<script>
$( document ).ready(function() {
  var encrypt_conversation = document.getElementById('submit-button');
    encrypt_conversation.addEventListener('click', function() {

      var get_PlainText= document.getElementById('input-text')
      var PlainText= get_PlainText.value
      console.log('Text to encrypt ' + PlainText)

      var get_sender_email = document.getElementById('input-handle-email')
      var sender_email = get_sender_email.value
      console.log('Current User is ' + sender_email)



      $.getJSON( "/pub_keys", function( data ) {


        var own_key= [];
        var publ_keys = [];
        var encrypted_messages = [];

        console.log( "ready!" );
        $.each( data, function( key, val ) {
          console.log(val.rsakeypub);
          publ_keys.push( val.rsakeypub );
        });
        console.log(publ_keys)

        $.each( data, function( key, val ) {
          var EncryptionResult = cryptico.encrypt(PlainText, val.rsakeypub)
          var EncryptionResultcipher = EncryptionResult.cipher
          var receiver_of_text = val.email
          // var receiver_of_textString = receiver_of_text.toString()
          console.log(receiver_of_text + ' This is receiver of text')
          console.log('These are the encryption results ' + EncryptionResultcipher)
          hashformessage = {}
          hashformessage[receiver_of_text] = {encrypted_text: EncryptionResultcipher}
          encrypted_messages.push( hashformessage )
          console.log('This is encrypted!'+ encrypted_messages[0][receiver_of_text]['encrypted_text'] + 'This is encrypted!')

        });
        decrypt_messge(encrypted_messages)
      });



      function decrypt_messge(encrypted_message){

        var your_message = encrypted_message[0][sender_email]['encrypted_text']
        console.log("Your message encrypted " + your_message)

        var local_user_key = cryptico.generateRSAKey(window.name, 1024);

        var local_user_public_key = cryptico.publicKeyString(local_user_key);

        console.log(local_user_public_key)

        var DecryptionResult = cryptico.decrypt(your_message, local_user_key)

        console.log('Your message unenecrypte -' + DecryptionResult.plaintext + '- THAT IS IT!')

      };
    });
  });


</script>
