<% if current_user %>
<p> Welcome <%= current_user.email %>, go to <a href='/'>home</a></p>
<ul>
  <% @rooms.each do | room | %>
  <li><a href="<%= room.url %>"><%= room.title %></a> </li>
  <%end%>
</ul>

<div id="new-room">
  <form action="new_room" method="post">
    Title: <input type="text" name="title">
    <input type="submit" value="Add Room">
  </form>
</div>

  <form method="post" action="/login" >
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Log out">
  </form>
<% else %>
  <div class="row">
    <div class="large-4 large-offset-4 columns">
      <a href="/login" class="button expand">Log In</a>
      <a href="/sign_up" class="button expand">Sign Up</a>
    </div>
  </div>
<% end %>
