
<% if current_user %>

  <div id="mdtListContainer">
    <ul class="mdtList">
      <% @rooms.each do | room | %>

      <li class="firstListElement">
        <ul>
          <li class="left leftList innerList" id="room_title">
            <a class="mdtName" href="<%= room.url %>"><%= room.title %></a>
          </li>
          <li class="right rightList innerList" id="deletebtn">
            <form method="post" action="/chat_room/<%= room.id %>">
              <input type="hidden" name="_method" value="delete">
              <input type="submit" value="x" class="deleteBtn">
            </form>
          </li>
        </ul>
       </li>

      <%end%>
    </ul>
  </div>


  <div id="new-room">
    <form action="new_room" method="post" id="new_room">
      <input type="text" name="title" id="roomNameInput" placeholder="Type in room name">
      <input type="submit" value="Add Room" class='button' id="addRoomButton">
    </form>
  </div>

  <a href="Referral" class="button secondary" id='btn'>Referral</a>


<% else %>

  <div class="banner">
    <div class="large-4 large-offset-4 columns" id="titleContainer">
      <h1 id="title">Lightbox</h1>
    </div>
  </div>

  <div class="row">
    <div class="large-4 large-offset-4 columns" id="btnContainer">
      <a href="/login" class="button expand" id='btn'>Log In</a>
      <a href="#" data-reveal-id="myModal" class="button expand" id='btn'>You need a referral to use this application</a>
    </div>
  </div>


  <div id="myModal" class="reveal-modal" data-reveal>
    <h2>This application is for medical doctors only.</h2>
    <p class="lead">To gain access to the sign up page, please contact a medical colleague or your organization to provide you with a referral</p>
    <p>Thank you! </p>
    <a class="close-reveal-modal">&#215;</a>
  </div>

  <script src="js/vendor/jquery.js"></script>
  <script src="js/foundation/foundation.js"></script>
  <script src="js/foundation/foundation.reveal.js"></script>
  <!-- Other JS plugins can be included here -->


  <script type="text/javascript">
  $(document).foundation();
  </script>

<% end %>
