<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/foundation.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lightbox</title>
  </head>

  <body>
    <div class="row fullWidth">
      <div class="large-4 large-offset-4 columns">
        <p>Lightbox</p>
      </div>
    </div>

      <% if flash[:notice] %>
      <div id="notice"><%= flash[:notice] %></div>
      <% end %>

      <%= yield %>
  </body>
</html>
