<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Stalemate' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/foundation.css">
    <link rel="stylesheet" type="text/css" href="/css/foundation-icons.css">
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/css/chat_room.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lightbox</title>
  </head>

  <body>
    <div class="frame">

      <!-- <div class="row fullWidth"> -->
<!--       <div class="banner">
        <div class="large-4 large-offset-4 columns" id="titleContainer">
          <h1 id="title">Lightbox</h1>
        </div>
      </div> -->

      <div class="contents">

        <% if flash[:notice] %>
        <div id="notice"><%= flash[:notice] %></div>
        <% end %>

        <%= yield %>

      </div>

     </div>

  </body>



<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js'></script>


<script src='/js/encryption/aes.js'>
</script>

<script src='/js/encryption/api.js'>
</script>

<script src='/js/encryption/cryptico.js'>
</script>

<script src='/js/encryption/random.js'>
</script>

<script src='/js/encryption/rsa.js'>
</script>

</html>
