<p id="notice">Please enter your login details</p>
<div class="banner">
  <div class="large-4 large-offset-4 columns" id="titleContainer">
    <h1 id="title">Lightbox</h1>
  </div>
</div>

<div id="formContainer" >
  <form action="/login" method='post' id='loginForm'>

    <div class="row" id="loginEmail">
          <input type='email' name='email' placeholder="Email">
    </div>


    <div class="row" id="loginPassword">
          <input type='password' id= 'password' name='password' placeholder='Password'>
    </div>

    <div class="row" id="loginParent">
        <input type="submit" value="Log In" class="button" id='loginBtn'>
    </div>

  </form>
</div>

<script src='./js/encrypt_generate_login.js'>
</script>
