<p>Please enter your login details</p>

<form action="/login" method='post' id='loginForm'>

  <div class="row">
    <div class="large-4 columns" id="loginEmail">
        <input type='email' name='email' placeholder="Email">
    </div>
  </div>

  <div class="row" id="loginPassword">
    <div class="large-4 columns">
        <input type='password' name='password' placeholder='Password'>
    </div>
  </div>

  <div class="row loginGParent">
    <div id="loginParent">
      <input type="submit" value="Log In" class="button" id='loginBtn'>
    </div>
  </div>

</form>
