<div class="row medium-uncollapse large-collapse">
    <div class="small-6 columns">
        <a href="/login" class="button large">Log In</a>
    </div>
    <div class="small-6 columns">
        <a href="/sign_up" class="button large">Sign Up</a>
    </div>
</div>