<% if current_user %>
<p> Welcome <%= current_user.email %>, go to <a href='/'>home</a></p>
<a href="/london_mdt" id="london_mdt">London MDT</a>
<% end %>

<% if flash[:notice] %>
<div id="notice"><%= flash[:notice] %></div>
<% end %>

<%= yield %>
