<form action="/sign_up" method='post'>
  <div class="row">
    <div class="large-4 columns">
      <label>Full name
        <input type='text' name='name' placeholder="Type your full name here">
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <label>Your email
        <input type='email' name='email' placeholder="Type your email here">
      </label>
    </div>
    <div class="large-4 columns">
      <label>Make a password
        <input type='text' name='password' placeholder='Make a password'>
      </label>
    </div>
    <div class="large-4 columns">
      <label>Password repeated
        <input type='text' name='password_confirmation' placeholder='Repeat your password'>
      </label>
    </div>
    <div class="large-4 columns">
      <label>Your GMC number
        <input type='text' name='gmc_number' placeholder="GMC Number">
      </label>
    </div>
    <div class="large-4 columns">
      <label>
        <input type='submit' name='sign_up' class="button" value="Sign Up">
      </label>
    </div>
  </div>
</form>