<form action="/sign_up" method='post'>
  <input type='text' name='name'>
  <input type='text' name='email'>
  <input type='text' name='gmc_number'>
  <input type='submit' name='sign_up'  value="Sign Up">
</form>
