
<form action="/sign_up" method='post'>
  <input type='text' name='name' placeholder="Name">
  <input type='text' name='email' placeholder="Email">
  <input type='password' name='password' placeholder='Password'>
  <input type='text' name='gmc_number' placeholder="GMC Number">
  <input type='submit' name='sign_up'  value="Sign Up">
</form>
