/*@import url(http://fonts.googleapis.com/css?family=Stalemate);*/

/* Layout.erb Styling */
.frame {
	position: relative;
	height: 98%;
	width: 80% ;
	margin-left: 10%;
}

.banner {
	border-radius: 5%;
	position: relative;
	margin-top: 1%;
	height: 30%;
	width: 98%;
	margin-left: 1%;
}

.contents {
	border-radius: 5%;
	position: relative;
	margin-top: 1%;
	height: 68%;
	width: 98%;
	margin-left: 1%;
}

div #titleContainer {
	position: relative;
  margin-right: auto;
  margin-left: auto;
}

#title {
	font-family: 'Stalemate', cursive;
	font-size: 80px;
	width: 100%;
	text-align: center;
}

/* TODO: Sign_up.erb Styling */








